In [141]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [152]:
url_wiki = "https://en.wikipedia.org/wiki/List_of_European_cities_by_population_within_city_limits"
headers = {'Accept-Language': 'en-US,en;q=0.8'}
response = requests.get(url_wiki, headers = headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.content, "html.parser")

In [153]:
city_dict={
    "city":[],
    "country":[],
    "population":[],
    "coordination":[]
}

In [155]:
table_rows = "table.wikitable tr"
#print(soup.select(table_rows))
#mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(4)
for i, row in enumerate(soup.select(table_rows)):
    if (i == 0):
        continue
    #cities
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(2) > a
    city_dict["city"].append(row.select("td")[1].select("a")[0].get_text())

    #counties
    #print(row.select(" td")[2].select("a")[0].get_text())
    city_dict["country"].append(row.select("td")[2].select("a")[0].get_text())
    
    #population
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(4)
    #print(row.select(" td")[3].select("span")[0].get_text())
    city_dict["population"].append(row.select("td")[3].select("span")[0].get_text())
    
    #coordination
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(8) > span > span > a > span.geo-default > span > span.geo-dec
    #print(row.select(" td")[7].select("span.geo-dec")[0].get_text())
    
    city_dict["coordination"].append(row.select("td")[7].select("span.geo-dec")[0].get_text())

In [156]:
len(city_dict["city"]) == len(city_dict["country"]) == len(city_dict["population"]) == len(city_dict["coordination"])

True

In [157]:
df=pd.DataFrame(city_dict)

In [171]:
df.coordination.str.extract("^(.+) (.+)$")

              0            1
0   41.013611°N     28.955°E
1       55.75°N  37.616667°E
2   51.507222°N     0.1275°W
3       59.95°N       30.3°E
4   52.516667°N  13.383333°E
..          ...          ...
67     40.181°N      44.51°E
68  50.936389°N   6.952778°E
69  51.671667°N  39.210556°E
70         58°N  56.316667°E
71       48.7°N  44.516667°E

[72 rows x 2 columns]