In [73]:
DISTANCE_AIRPORT_CITYCENTER_KM = 15

## Import cities_df

In [74]:
import pandas as pd
import sqlalchemy
sys.path.append('..\keys')
import key

schema="gans_db"   # name of the database you want to use here
host="localhost"        # to connect to your local server
user="root"
password=key.SQL_PASSWORD # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'
cities_df = pd.read_sql_table('city',con=con)

## Read airport data from CSV

In [75]:
df= pd.read_csv("airports.csv")

### Clean airport df

In [76]:
df=df.drop(["scheduled_service","gps_code","iata_code","local_code","home_link","wikipedia_link","keywords"],axis=1)

In [77]:
df = df.rename(columns={"ident":"icao"})

In [78]:
df.type.unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [79]:
df=df.loc[~df.type.isin(["heliport","closed","seaplane_base","balloonport","small_airport"])]

In [80]:
df

,id,icao,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality
6401,12243,5A8,medium_airport,Aleknagik / New Airport,59.282600,-158.617996,66.0,NaN,US,US-AK,Aleknagik
10856,332240,AF-0005,medium_airport,Khost International Airport (U.C.),33.284605,69.807340,4204.0,AS,AF,AF-KHO,Khost
10890,3,AGGH,large_airport,Honiara International Airport,-9.428000,160.054993,28.0,OC,SB,SB-CT,Honiara
10895,4,AGGM,medium_airport,Munda Airport,-8.327970,157.263000,10.0,OC,SB,SB-WE,Munda
10917,312371,AHJ,medium_airport,Hongyuan Airport,32.531540,102.352240,11600.0,AS,CN,CN-51,Aba
...,...,...,...,...,...,...,...,...,...,...,...
68322,307013,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,42.253889,125.703333,1200.0,AS,CN,CN-22,Tonghua
68323,27243,ZYTX,large_airport,Shenyang Taoxian International Airport,41.639801,123.483002,198.0,AS,CN,CN-21,"Hunnan, Shenyang"
68325,27244,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,42.882801,129.451004,624.0,AS,CN,CN-22,Yanji
68326,317861,ZYYK,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,NaN,AS,CN,CN-21,"Laobian, Yingkou"
68327,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang"

In [81]:

# Python 3 program to calculate Distance Between Two Points on Earth
from math import radians, cos, sin, asin, sqrt
def distance_km(airport_row,lat2,lon2,city_id):
     
    # The math module contains a function named
  
    #row contains location of airport
    lat1=airport_row.latitude_deg
    lon1=airport_row.longitude_deg
    
    # radians which converts from degrees to radians.
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
    
    dist_km = c * r
    
    if dist_km <= DISTANCE_AIRPORT_CITYCENTER_KM :
        ret = city_id
    else:
        ret = 0
    # calculate the result
    return ret

In [82]:
cities_df.shape[0]

36

In [83]:
df

,id,icao,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality
6401,12243,5A8,medium_airport,Aleknagik / New Airport,59.282600,-158.617996,66.0,NaN,US,US-AK,Aleknagik
10856,332240,AF-0005,medium_airport,Khost International Airport (U.C.),33.284605,69.807340,4204.0,AS,AF,AF-KHO,Khost
10890,3,AGGH,large_airport,Honiara International Airport,-9.428000,160.054993,28.0,OC,SB,SB-CT,Honiara
10895,4,AGGM,medium_airport,Munda Airport,-8.327970,157.263000,10.0,OC,SB,SB-WE,Munda
10917,312371,AHJ,medium_airport,Hongyuan Airport,32.531540,102.352240,11600.0,AS,CN,CN-51,Aba
...,...,...,...,...,...,...,...,...,...,...,...
68322,307013,ZYTN,medium_airport,Tonghua Sanyuanpu Airport,42.253889,125.703333,1200.0,AS,CN,CN-22,Tonghua
68323,27243,ZYTX,large_airport,Shenyang Taoxian International Airport,41.639801,123.483002,198.0,AS,CN,CN-21,"Hunnan, Shenyang"
68325,27244,ZYYJ,medium_airport,Yanji Chaoyangchuan Airport,42.882801,129.451004,624.0,AS,CN,CN-22,Yanji
68326,317861,ZYYK,medium_airport,Yingkou Lanqi Airport,40.542524,122.358600,NaN,AS,CN,CN-21,"Laobian, Yingkou"
68327,32753,ZYYY,medium_airport,Shenyang Dongta Airport,41.784401,123.496002,NaN,AS,CN,CN-21,"Dadong, Shenyang"

In [84]:
df["city_id"]= 0
for i in range(cities_df.shape[0]):
    dist_accepted=df.apply(distance_km,axis=1,result_type="expand",args=(cities_df.lat[i],cities_df.lon[i],cities_df.city_id[i]))
    # if(df.iloc[i].airp_city_id != 0):
    #     print("Attention, One Airport related to more than one City!!")
    #     print(dist_accepted.iloc[i])
        
    df["city_id"] += dist_accepted

In [85]:
df.city_id.unique()

array([ 0,  9, 15, 29,  3, 14, 23, 18,  6, 11, 21,  8, 24, 10,  1, 17, 31,
       25, 30, 27, 34, 32, 26, 20,  7, 22], dtype=int64)

In [86]:
airport_df = df.loc[df.city_id > 0]

In [87]:
airport_df.shape

(35, 12)

In [88]:
airport_df=airport_df[["city_id","icao"]]

In [89]:
airport_df.sort_values(by="city_id")

       city_id     icao
38584        1     LTBA
20922        3     EGLC
36960        6     LECU
36980        6     LEGT
57394        7     UKKK
37838        8     LIRU
37823        8     LIRA
12572        9  AZ-0001
57129        9     UBBB
38322       10     LRBS
37454       11     LFPV
37436       11     LFPB
37448       11     LFPO
21551       14     EPWA
20325       15     EDHI
20249       15     EDDH
38744       17     LYBE
36947       18     LEBL
57388       20     UKHH
37785       21     LIML
63424       22     UWKG
36871       23     LBSF
37934       24     LKPR
37961       24     LKVO
37899       24     LKKB
47843       25  RU-0217
57239       26     UG24
48414       27  RU-2344
63453       27     UWWG
20810       29     EGBB
47998       30  RU-0372
47716       31  RU-0090
57140       32     UDYE
57141       32     UDYZ
48478       34  RU-8363

## Export Final df

In [90]:
airport_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 12572 to 63453
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city_id  35 non-null     int64
 1   icao     35 non-null     object
dtypes: int64(1), object(1)
memory usage: 840.0+ bytes

In [92]:
airport_df.to_sql('airport',con=con,if_exists='replace',index=False)

35