## 1.Export

### Scrap Contents for the required URLs
City,country,population,coordination

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url_wiki = "https://en.wikipedia.org/wiki/List_of_European_cities_by_population_within_city_limits"
headers = {'Accept-Language': 'en-US,en;q=0.8'}
response = requests.get(url_wiki, headers = headers)

response.raise_for_status()
soup = BeautifulSoup(response.content, "html.parser")

In [3]:
city_dict={
    "city":[],
    "country":[],
    "population":[],
    "coordination":[]
}

In [4]:
table_rows = "table.wikitable tr"
#print(soup.select(table_rows))
#mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(4)
for i, row in enumerate(soup.select(table_rows)):
    if (i == 0):
        continue
    #cities
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(2) > a
    city_dict["city"].append(row.select("td")[1].select("a")[0].get_text())

    #counties
    #print(row.select(" td")[2].select("a")[0].get_text())
    city_dict["country"].append(row.select("td")[2].select("a")[0].get_text())
    
    #population
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(4)
    #print(row.select(" td")[3].select("span")[0].get_text())
    city_dict["population"].append(row.select("td")[3].select("span")[0].get_text())
    
    #coordination
    #mw-content-text > div.mw-parser-output > table > tbody > tr:nth-child(1) > td:nth-child(8) > span > span > a > span.geo-default > span > span.geo-dec
    #print(row.select(" td")[7].select("span.geo-dec")[0].get_text())
    
    city_dict["coordination"].append(row.select("td")[7].select("span.geo-dec")[0].get_text())

In [5]:
len(city_dict["city"]) == len(city_dict["country"]) == len(city_dict["population"]) == len(city_dict["coordination"])

True

In [6]:
city_df = pd.DataFrame(city_dict)

## 2.Transform

In [7]:
city_c_df = city_df.copy()

###  Rework the Coordination column

In [8]:
def ConvertCoord(row):
    #convert lat and long
    lat,long = row.coordination.replace("°E","").replace("°N","").split(" ")
    if lat.find("°S") != -1 :
        lat="-" + lat.replace("°S","")
    if long.find("°W") != -1 :
        long="-" + long.replace("°W","")
    try:
        lat= float(lat)
        long= float(long)
    except:
        print("ERROR, COORDINATES are not Convertable")
    return (lat,long)

In [9]:
city_c_df["lat"]=city_c_df.apply(ConvertCoord,axis=1,result_type="expand")[0]
city_c_df["lon"]=city_c_df.apply(ConvertCoord,axis=1,result_type="expand")[1]

In [10]:
city_c_df=city_c_df.drop(["coordination"],axis=1)

In [11]:
city_c_df

                city         country  population        lat        lon
0           Istanbul          Turkey  15,840,900  41.013611  28.955000
1             Moscow          Russia  12,632,409  55.750000  37.616667
2             London  United Kingdom   8,799,800  51.507222  -0.127500
3   Saint Petersburg          Russia   5,376,672  59.950000  30.300000
4             Berlin         Germany   3,677,472  52.516667  13.383333
5             Madrid           Spain   3,305,408  40.383333  -3.716667
6               Kyiv         Ukraine   2,962,180  50.450000  30.523333
7               Rome           Italy   2,749,031  41.900000  12.500000
8               Baku      Azerbaijan   2,303,100  40.400000  49.900000
9          Bucharest         Romania   2,161,347  44.432500  26.103889
10             Paris          France   2,139,907  48.856700   2.350800
11             Minsk         Belarus   1,996,553  53.900000  27.566667
12            Vienna         Austria   1,962,779  48.200000  16.366667
13            Warsaw          Poland   1,863,056  52.233333  21.016667
14           Hamburg         Germany   1,853,935  53.565278  10.001389
15          Budapest         Hungary   1,706,851  47.492500  19.051389
16          Belgrade          Serbia   1,688,667  44.816667  20.466667
17         Barcelona           Spain   1,636,732  41.383333   2.183333
18            Munich         Germany   1,487,708  48.133333  11.566667
19           Kharkiv         Ukraine   1,414,319  50.004444  36.231389
20             Milan           Italy   1,349,930  45.466667   9.183333
21             Kazan          Russia   1,308,660  55.790278  49.134722
22             Sofia        Bulgaria   1,307,439  42.700000  23.330000
23            Prague  Czech Republic   1,275,406  50.083333  14.416667
24   Nizhny Novgorod          Russia   1,228,199  56.326944  44.007500
25           Tbilisi         Georgia   1,201,769  41.716600  44.783300
26            Samara          Russia   1,187,771  53.202778  50.140833
27               Ufa          Russia   1,144,809  54.750000  55.966667
28        Birmingham  United Kingdom   1,144,900  52.483056  -1.893611
29     Rostov-on-Don          Russia   1,142,162  47.233333  39.700000
30         Krasnodar          Russia   1,099,344  45.033000  38.967000
31           Yerevan         Armenia   1,092,800  40.181000  44.510000
32           Cologne         Germany   1,073,096  50.936389   6.952778
33          Voronezh          Russia   1,057,681  51.671667  39.210556
34              Perm          Russia   1,034,002  58.000000  56.316667
35         Volgograd          Russia   1,028,036  48.700000  44.516667

### Convert Population to numeric

In [13]:
city_c_df.population = city_c_df.population.str.replace(",","")

In [14]:
city_c_df.population = pd.to_numeric(city_c_df.population)

In [15]:
city_c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        36 non-null     object
 1   country     36 non-null     object
 2   population  36 non-null     int64
 3   lat         36 non-null     float64
 4   lon         36 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.5+ KB

## 3.Load

### Connect with  MySQL Local

In [13]:
import sqlalchemy as db
sys.path.append('..\keys')
import key

schema="gans_db" 
host="localhost"       
user="root"
password=key.SQL_PASSWORD
port=3306
con = image.pngf'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

#### Merge with existing db (TBD)

In [14]:
city_db_df = pd.read_sql_table('city',con=con)

In [15]:
city_db_df

    city_id              city         country  population      lat       lon
0         1          Istanbul          Turkey    15840900  41.0136  28.95500
1         2            Moscow          Russia    12632409  55.7500  37.61670
2         3            London  United Kingdom     8799800  51.5072  -0.12750
3         4  Saint Petersburg          Russia     5376672  59.9500  30.30000
4         5            Berlin         Germany     3677472  52.5167  13.38330
5         6            Madrid           Spain     3305408  40.3833  -3.71667
6         7              Kyiv         Ukraine     2962180  50.4500  30.52330
7         8              Rome           Italy     2761632  41.9000  12.50000
8         9              Baku      Azerbaijan     2303100  40.4000  49.90000
9        10         Bucharest         Romania     2161347  44.4325  26.10390
10       11             Paris          France     2139907  48.8567   2.35080
11       12             Minsk         Belarus     1996553  53.9000  27.56670
12       13            Vienna         Austria     1962779  48.2000  16.36670
13       14            Warsaw          Poland     1863056  52.2333  21.01670
14       15           Hamburg         Germany     1853935  53.5653  10.00140
15       16          Budapest         Hungary     1706851  47.4925  19.05140
16       17          Belgrade          Serbia     1688667  44.8167  20.46670
17       18         Barcelona           Spain     1636732  41.3833   2.18333
18       19            Munich         Germany     1487708  48.1333  11.56670
19       20           Kharkiv         Ukraine     1414319  50.0044  36.23140
20       21             Milan           Italy     1371498  45.4667   9.18333
21       22             Kazan          Russia     1308660  55.7903  49.13470
22       23             Sofia        Bulgaria     1307439  42.7000  23.33000
23       24            Prague  Czech Republic     1275406  50.0833  14.41670
24       25   Nizhny Novgorod          Russia     1228199  56.3269  44.00750
25       26           Tbilisi         Georgia     1201769  41.7166  44.78330
26       27            Samara          Russia     1187771  53.2028  50.14080
27       28               Ufa          Russia     1144809  54.7500  55.96670
28       29        Birmingham  United Kingdom     1144900  52.4831  -1.89361
29       30     Rostov-on-Don          Russia     1142162  47.2333  39.70000
30       31         Krasnodar          Russia     1099344  45.0330  38.96700
31       32           Yerevan         Armenia     1092800  40.1810  44.51000
32       33           Cologne         Germany     1073096  50.9364   6.95278
33       34          Voronezh          Russia     1057681  51.6717  39.21060
34       35              Perm          Russia     1034002  58.0000  56.31670
35       36         Volgograd          Russia     1028036  48.7000  44.51670

In [25]:
# assume population for Moscow is now 13,000,000 .. how to add this to mysql
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# Connect to the database
engine = create_engine(f'mysql://root:{key.SQL_PASSWORD}@localhost/{schema}')
Session = sessionmaker(bind=engine)
session = Session()

In [26]:
# read from the MySQL via queries
session.execute("select population from city where(city_id = 1)").fetchall()

# result[0][0]

[(15840900,)]

In [ ]:
session.execute("select city,population from city").all()

In [27]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

# Define a base model for the city table
Base = declarative_base()
class City(Base):
    __tablename__ = 'city'
    city_id = Column(Integer, primary_key=True)
    city = Column(String)
    population = Column(Integer)

In [34]:
# session.query(City).filter(City.city_id == 1).update({'population': 13000000})
session.commit()

#### Load Final df

In [23]:
city_c_df.to_sql('city',con=con,if_exists='append',index=False)

36

### Connect with  MySQL AWS

In [12]:
import sqlalchemy as db
sys.path.append('..\keys')
import key

schema="gans_db"   # name of the database you want to use here
host="wbs-gans-db.c87binzvwbjx.eu-central-1.rds.amazonaws.com"        # to connect to your local server
user="admin"
password=key.SQL_PASSWORD # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

#### Load Final df

In [13]:
city_c_df.to_sql('city',con=con,if_exists='append',index=False)

36